In [42]:
#import libraries

import pandas as pd
import matplotlib.pyplot as plt
import requests
from geopy.geocoders import Nominatim
import seaborn as sns

In [4]:
dataset= pd.read_excel(f'C:/Users/User/Desktop/PROJECTS/South Australian Crime Dataset/All excel.xlsx', sheet_name=None)

In [5]:
df1 = dataset['2010-11']
df2 = dataset['2011-12']
df3 = dataset['2012-13']
df4 = dataset['2013-14']
df5 = dataset['2014-15']
df6 = dataset['2015-16']
df7 = dataset['2016-17']
df8 = dataset['2017-18']
df9 = dataset['2018-19']
df10 = dataset['2019-20']
df11 = dataset['2020-21']
df12 = dataset['2021-22']

In [6]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], ignore_index=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121724 entries, 0 to 1121723
Data columns (total 7 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Reported Date                1121724 non-null  object
 1   Suburb - Incident            1118644 non-null  object
 2   Postcode - Incident          1116646 non-null  object
 3   Offence Level 1 Description  1121724 non-null  object
 4   Offence Level 2 Description  1121724 non-null  object
 5   Offence Level 3 Description  1121724 non-null  object
 6   Offence count                1121724 non-null  int64
dtypes: int64(1), object(6)
memory usage: 59.9+ MB

In [8]:
df['Reported Date']= pd.to_datetime(df['Reported Date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121724 entries, 0 to 1121723
Data columns (total 7 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Reported Date                1121724 non-null  datetime64[ns]
 1   Suburb - Incident            1118644 non-null  object
 2   Postcode - Incident          1116646 non-null  object
 3   Offence Level 1 Description  1121724 non-null  object
 4   Offence Level 2 Description  1121724 non-null  object
 5   Offence Level 3 Description  1121724 non-null  object
 6   Offence count                1121724 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 59.9+ MB

In [15]:
df.isnull().sum()

Reported Date                     0
Suburb - Incident              3080
Postcode - Incident            5078
Offence Level 1 Description       0
Offence Level 2 Description       0
Offence Level 3 Description       0
Offence count                     0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [18]:
df.reset_index(drop=True, inplace=True)

In [61]:
dtype_specification = {'Postcode': 'object'}

In [62]:
df_coordinates = pd.read_excel(f'C:/Users/User/Desktop/PROJECTS/South Australian Crime Dataset/SA Coordinates.xlsx',dtype=dtype_specification)

In [91]:
df_coordinates

       Latitude   Longitude    Suburb - Incident Postcode - Incident
0    -26.127662  131.173880                AMATA                0872
1    -26.190601  133.268032    AYERS RANGE SOUTH                0872
2    -26.556097  133.311196         DE ROSE HILL                0872
3    -21.949513  131.298809            ERNABELLA                0872
4    -26.279600  132.134000  ERNABELLA (PUKATJA)                0872
...         ...         ...                  ...                 ...
2092 -34.928499  138.600746             ADELAIDE                5810
2093 -34.928499  138.600746             ADELAIDE                5839
2094 -34.860017  138.565906         REGENCY PARK                5942
2095 -34.945146  138.530183     ADELAIDE AIRPORT                5950
2096 -34.945146  138.530183          EXPORT PARK                5950

[2097 rows x 4 columns]

In [144]:
merged_df = pd.merge(df, df_coordinates[['Suburb - Incident', 'Latitude', 'Longitude']], on=["Suburb - Incident"], how="inner")
merged_df

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count,Latitude,Longitude
0,2010-01-07,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2,-34.928499,138.600746
1,2010-01-07,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2,-34.928499,138.600746
2,2010-01-07,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2,-34.928499,138.600746
3,2010-01-07,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2,-34.928499,138.600746
4,2010-01-07,ADELAIDE,5000,OFFENCES AGAINST PROPERTY,FRAUD DECEPTION AND RELATED OFFENCES,Obtain benefit by deception,2,-34.928499,138.600746
...,...,...,...,...,...,...,...,...,...
1354101,2022-05-15,FRANKLYN,5421,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1,-33.134670,138.985832
1354102,2022-05-26,FARINA,5731,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1,-30.072900,138.275500
1354103,2022-05-26,FARINA,5731,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1,-29.427879,138.049515
1354104,2022-05-06,AYERS RANGE SOUTH,872,OFFENCES AGAINST PROPERTY,SERIOUS CRIMINAL TRESPASS,SCT - Non Residence,1,-26.190601,133.268032
1354105,2022-05-06,AYERS RANGE SOUTH,872,OFFENCES AGAINST PROPERTY,THEFT AND RELATED OFFENCES,Theft/Illegal Use of MV,1,-26.190601,133.268032

In [156]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1354106 entries, 0 to 1354105
Data columns (total 9 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Reported Date                1354106 non-null  datetime64[ns]
 1   Suburb - Incident            1354106 non-null  object
 2   Postcode - Incident          1354106 non-null  object
 3   Offence Level 1 Description  1354106 non-null  object
 4   Offence Level 2 Description  1354106 non-null  object
 5   Offence Level 3 Description  1354106 non-null  object
 6   Offence count                1354106 non-null  int64
 7   Latitude                     1354106 non-null  float64
 8   Longitude                    1354106 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 93.0+ MB

In [157]:
#merged_df.to_csv(f'C:/Users/User/Desktop/PROJECTS/South Australian Crime Dataset/2010to2022_cleaned.csv',index=False)

In [11]:
#df.to_csv(f'C:/Users/User/Desktop/PROJECTS/South Australian Crime Dataset/2010to2022.csv',index=False)